<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <!-- <span>Welcome to VODFlix</span> -->
  <a routerLink="/home" routerLinkActive="active-link" class="menuitem">Home</a>
  <a routerLink="/vidcatalog" routerLinkActive="active-link" class="menuitem">Video Catalog</a>
  <a routerLink="/manage" routerLinkActive="active-link" class="menuitem">Management Dashboard</a>

    <div class="spacer"></div>
    <a routerLink="/signin" routerLinkActive="active-link" class="menuitem">Sign in</a>
    <p></p>
    <a routerLink="/signup" routerLinkActive="active-link" class="menuitem">Sign up</a>

</div>

<div class="content" role="main">


<!-- este e suposto ser client only. tenho de remover links apenas acessiveis ao admin e criar um  componente admin only -->

</div>

<router-outlet></router-outlet>
