html
{ 
 height: 100%;   
 color: white;
/*  background: url(src/assets/bg-1080.jpg) no-repeat center center fixed;
 background-color: rgb(255, 255, 255);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 background-size: cover;
 background-position: center center; */

      
}

/* .toolbar
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
     
} */

.menuitem {
    margin-left: 15px;
    margin-right: 15px;
}