html
{ 
 height: 100%;   
 color: white;


      
}

/* .toolbar
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
     
} */

.menuitem {
    margin-left: 15px;
    margin-right: 15px;
}